// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~admin-lte/dist/css/adminlte.css";
@import "~admin-lte/plugins/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";

.router-link-exact-active {
    background-color: #3f51b5 !important;
    color: white !important;
}
